@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  display: none;
}

.logo {
  min-width: 320px;
  display: flex;
  height: 300px;
  width: 33%;
  background-color: #363980
}

.premier_rond {

  position:relative;
  height: 100px;
  width: 100px;
  margin: auto;
  /* background-color: rgb(66, 168, 129); */
  /* border-radius: 50%; */
  /* border: 10px solid rgb(255, 255, 255); */
}
.deuxieme_rond {

  position: absolute;
  height: 80px;
  width: 80px;
  top:0px;
  margin-top: 10px;
  margin-left:10px;
  background-color: rgba(109, 60, 60, 0);
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
}

.lettre_logo {
  margin-top: 5px;
  margin-left:5px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color:#3366b7;
} 

.square{
  position: absolute;
  height: 90px;
  width: 60px;
  border-radius: 10px; 
  opacity: 85%;
  border: 2px solid rgba(245, 245, 245, 0.507);

}

.verticale_top_left{
  background-color: #c2197d;
  top:-30px;
  right:40px;
}

.verticale_btm_right {
  background-color:#19ab4a;
  top:45px;
  left:35px;
}

.horizontal_top_right{
  background-color: #f5911c;
  top:-22px;
  left:-15px;
  transform: rotate(90deg);
  transform-origin:105% 95%;
}

.verticale_btm_left{
  background-color: #28338f;
  top:30px;
  right:-5px;
  transform: rotate(90deg);
  transform-origin: 5% 5%;
}

.degre45{
  transform: rotate(45deg);
 }

 .degre90{
  transform: rotate(135deg);
 }

.diagonal_top_left{
  background-color: #eb1e23;
  top:-30px;
  right:50px;
  transform-origin: 90% 103%;  
  opacity: 50%;                
}

.diagonal_btm_right{
  background-color: #05a1c7;
  top:22px;
  left:50px;
  transform-origin:-30% 1%;


}
.diagonal_top_right{
  background-color: #612e8f;
  top:40px;
  right:-20px;
  transform-origin:-2% 7%;
}

.diagonal_btm_left{
  background-color: #f5eb14;
  top:40%;
  right:-20%;
  transform-origin: 55% 35%; 
}


img {
  max-width: 100%;
  max-height: 100%;
  /* object-fit: scale-down;  */
}

.contact {
  min-width: 320px;
  height: 300px;
  width: 33%;
  background: #f5d18b;
  font-size: 10px;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box_name {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: violet;
  padding: 15px;
  font-family: "Bebas Neue";
  font-size: 40px;
}

.box_job_title {
  height: 50px;
  width: 100%;
  background-color: turquoise;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_contact {
  height: 50px;
  width: 100%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  color: white;
  font-size: 18px;
  padding-left: 10px;
  background-color: yellow;
}

.icone_email {
  background-color: royalblue;
}

#icone_enveloppe {
  color: white;
}

#phone {
color: white;
font-size: 20px;
}

.jeremi .Foto_de_CV {
  font-size: 50px;
}

.piccioni {
  font-family: "Anton", sans-serif;
  font-size: 50px;
}

.photo {
  min-width: 320px;
  height: 300px;
  width: 33%;
  background-color: rgb(0, 60, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Foto_de_CV {
  height: 200px;
  width: 200px;
  border-radius: 20%;
}

#icone_enveloppe {
  font-size: 18px;
}

i {
  font-size: 50px;
  color: crimson;
}

.mes_qualites {
    flex-direction: column;
}


.line1 {
  height: 10px;
  width: 100%;
  background-color: black;
}

.line2 {
  height: 10px;
  width: 100%;
  background-color: black;
}

.line3 {
  height: 10px;
  width: 100%;
  background-color: black;
}

.line4 {
  height: 10px;
  width: 100%;
  background-color: black;
}

.line5 {
  height: 10px;
  width: 100%;
  background-color: black;
}


footer{
  display: flex;
}
.test{
  display: flex;
  width: 50%;
  height: 100px;
  /* background-color: blue; */
  }

.droite{
  background-color: blue;
  
}

.gauche{
  background-color: rgb(234, 0, 255);
}

/********************************************************************************************************************/

@media screen and (max-width: 1071px) {
  .box_name {
    font-size: 35px;
    background-color: lightgreen;
  }
}

@media screen and (max-width: 960px) {
  .logo {
    width: 100%;
    min-width: 320px;
  }
  .contact {
    width: 100%;
    min-width: 320px;
  }
  .photo {
    width: 100%;
    min-width: 320px;
  }
}

@media screen and (max-width: 330px) {
  .box_job_title {
    font-size: 13px;
  }
}
